body{
    background-color:#eee;
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkslategray;
  }
 .nav-bar{
  background-color:#050A30;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content:space-between;
  z-index: 2;
 
  }
  
  .nav-bar ul{
   list-style: none;
  }
 
.html-links ul{
    display: flex;
   list-style: none;
}
a{
    color:white;
    text-decoration:none;
    font-size:1rem;
    padding:1rem 1rem;  
  }
  a:hover{
    color:darkslategray;
}

.intro{
    background-image: 
    url(Table.webp);
    height:100vh;
    justify-content: center;
    width: 100%;
}

#intro{
    width: 80%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center; 
    color:#eee;  
}
@media (min-width:760px){
    #name{
        position: relative;
        left:20%;
    } 
    .nav-bar ul{
        display: flex; 
        flex-direction: row; 
        justify-content: space-around; 
        list-style: none;
    }
    #city{
        width:50%; 
       
    }
    #durban{
        position: relative;
        left:17%;
        top: 4%;
    }
    .para{
        max-width: 35%;
    }
    
}


@media (max-width:760px){
    #intro{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        color:#eee;
        margin: auto;  
        padding: auto;
    } 
}

#me{
    width:20%;
}
#durban{
    width:60%;
    z-index: 1;
}
#favorite_city h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.history_facts h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

.city_info{
    display:flex;
    flex-direction:row;
    width:100%;
    height:60vh; 
    margin-top:0px;
    margin-bottom:0px;
    color:white;
}
@media (max-width:760px){
    #city{
      display:flex;
      flex-wrap: wrap; 
      justify-content: center;
      align-items: center;
      width: 90%;
    }  
    #durban{
      width:100%;
      z-index: 1;
    }
    .city_info{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100%;
    }
} 
    
#city{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 20px;
}

.language{
    background-color:#050A30;
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: #e6e6e6;
  
}

#A_foreign_language p{
    width:60%;
}
table {
    
    width: 60%;
    margin-bottom: 70px;
}
  
th, td {
    border:10px;
    text-align: center;
    padding: 8px;
}
  
th {
    background-color: darkslategray; 
    color: white;
}
  
tr{
    background-color: #f2f2f2;
    color:black;
}
  
tr:hover {
    background-color: #e6e6e6;
}
.history_box{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100%;
    height: 100%;
    background-color: darkslategray;
    color:white;
}

.history_facts{
    max-height:540px;
    overflow:auto; 
} 
@media (max-width:760px){
    .history_box{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height:10%; */
        width:100%;
    }
    .history_info{
        width:97%;
    }
  
    #heritage{
        width:50%;
        float: right;
        margin-left: 1em;
        margin-right: 1em;
    }
    #pilgrim{
        width:50%;
        float: right;
        margin-left: 1em;
        margin-right: 1em;
    } 
    #museum{
        width:50%;
        float: left;
        margin-right: 1em;
        margin-left: 1em;
       
    }
     #heritage:hover{
        width:60%;
      } 
      #pilgrim:hover{
        width:60%;
      }
      #museum:hover{
        width:60%;
      }  
}
@media (min-width:760px){
     .history_facts img{
        float: right;
        margin-right:1em;
        width:50%;
    } 
    .history_facts{
       width:99%;
    }
} 

.footer {
    background-color: #050A30;
    padding: 1em;
    color: #eee;
    display: flex;
}
.history_facts::-webkit-scrollbar{
    display: none;
  }

